<div class='flex flex-col lg:flex-row gap-8'>
  <div class='bg-white shadow rounded p-6 lg:w-2/5'>
    <h3 class='text-xl font-semibold mb-4'>Recent Transactions</h3>
    <div class='overflow-x-auto'>
      <table class='min-w-full leading-normal'>
        <thead>
          <tr class='bg-blue-100'>
            <th
              class='px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider'
            >Description</th>
            <th
              class='px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider'
            >Amount</th>
            <th
              class='px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider'
            >Category</th>
            <th
              class='px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider'
            >Type</th>
            <th
              class='px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider'
            >Date</th>
          </tr>
        </thead>
        <tbody>
          {{#each user.transactions}}
            <tr class='transaction-item'>
              <td
                class='px-5 py-5 border-b border-gray-200 bg-white text-sm'
              >{{this.description}}</td>
              <td
                class='px-5 py-5 border-b border-gray-200 bg-white text-sm'
              >${{this.amount}}</td>
              <td
                class='px-5 py-5 border-b border-gray-200 bg-white text-sm'
              >{{this.category.name}}</td>
              <td
                class='px-5 py-5 border-b border-gray-200 bg-white text-sm'
              >{{this.type}}</td>
              <td
                class='px-5 py-5 border-b border-gray-200 bg-white text-sm'
              >{{formatDate this.date}}</td>
            </tr>
          {{else}}
            <tr>
              <td
                colspan='5'
                class='px-5 py-5 border-b border-gray-200 bg-white text-center text-sm'
              >No transactions recorded yet.</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  <!-- Div to wrap the graphs and totals -->
  <div class='bg-white shadow rounded p-6 lg:w-3/5 flex flex-col'>
    <!-- Totals at the top -->
    <div class='mb-6'>
      <div class='flex justify-between'>
        <div>
          <p class='text-lg font-semibold'>Total Income</p>
          <p class='text-lg'>$<span id='total-income'>{{totalIncome}}</span></p>
        </div>
        <div>
          <p class='text-lg font-semibold'>Total Expenses</p>
          <p class='text-lg'>$<span
              id='total-expenses'
            >{{totalExpenses}}</span></p>
        </div>
        <div>
          <p class='text-lg font-semibold'>Remaining Budget</p>
          <p class='text-lg'>$<span id='budget'>{{budget}}</span></p>
        </div>
      </div>
    </div>

    <!-- Graphs side by side -->
    <div class='flex flex-wrap gap-4'>
      <div class='bg-blue-50 shadow rounded p-6 w-full md:w-1/2'>
        <h3 class='text-xl font-semibold mb-4'>Expense Summary</h3>
        <div class='h-96 mb-4'>
          <canvas id='expenses-chart'></canvas>
        </div>
      </div>
      <div class='bg-white shadow rounded p-6 w-full md:w-1/2'>
        <h3 class='text-xl font-semibold mb-4'>Budget Overview</h3>
        <div class='h-96 mb-4'>
          <canvas id='budget-chart'></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Chart.js Script -->
<script
  src='https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js'
></script>